{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = '/css/energy.css')}}"
/>
{% endblock head %} {% block title %} Energy Checks results photons {% endblock
%} {% block content %}
<div class="heading w3-container-fluid">
  <br />
  <p style="color: tomato">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %} {{message}}<br />
    {%endfor%} {%endif%} {%endwith%}
  </p>
  <h2>Energy checks</h2>
  <h4>PDD Analysis Results (Photons)</h4>
  {% if photon_data == True %}
  <div class="w3-row">
    <div class="w3-col l6 m6">
      {% for each in results_p %}
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>Machine:</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <p>{{each.machine}}</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>Beam:</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <p>{{each.beam}}</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>PDD<sub>10</sub>:</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <p>{{round(each.pdd10_curr,2)}} %</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>Compared to previous PDD<sub>10</sub>:</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <div class="w3-row">
            <div class="w3-col l6 m6 s6">
              <p>
                {{ round(100 * (each.pdd10_curr - each.pdd10_prev) /
                each.pdd10_prev),2}} % Diff
              </p>
            </div>
            <div class="w3-col l6 m6 s6">
              {% if abs(100 * (each.pdd10_curr - each.pdd10_prev)/
              each.pdd10_prev) < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>Compared to Commissioning PDD<sub>10</sub>:</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <div class="w3-row">
            <div class="w3-col l6 m6 s6">
              <p>
                {{ round(100 * (each.pdd10_curr - each.pdd_comm) /
                each.pdd_comm),2}} % Diff
              </p>
            </div>
            <div class="w3-col l6 m6 s6">
              {% if abs(100 * (each.pdd10_curr - each.pdd_comm)/ each.pdd_comm)
              < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>TPR<sub>20,10</sub> :</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <p>{{each.tpr2010_curr}}</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>Compared to previous TPR<sub>20,10</sub>:</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <div class="w3-row">
            <div class="w3-col l6 m6 s6">
              <p>
                {{ round(100 * (each.tpr2010_curr - each.tpr2010_prev) /
                each.tpr2010_prev),2}} % Diff
              </p>
            </div>
            <div class="w3-col l6 m6 s6">
              {% if abs(100 * (each.tpr2010_curr - each.tpr2010_prev)/
              each.tpr2010_prev) < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>Compared to Commissioning TPR<sub>20,10</sub>:</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <div class="w3-row">
            <div class="w3-col l6 m6 s6">
              <p>
                {{ round(100 * (each.tpr2010_curr - each.tpr2010_comm) /
                each.tpr2010_comm),2}} % Diff
              </p>
            </div>
            <div class="w3-col l6 m6 s6">
              {% if abs(100 * (each.tpr2010_curr - each.tpr2010_comm)/
              each.tpr2010_comm) < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>Dose<sub>dmax</sub> :</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <p>{{each.dmax_curr}} mm</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>Compared previous Dose<sub>dmax</sub>:</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <div class="w3-row">
            <div class="w3-col l6 m6 s6">
              <p>{{round(each.dmax_curr - each.dmax_prev,2)}} mm Diff</p>
            </div>
            <div class="w3-col l6 m6 s6">
              {% if (each.dmax_curr - each.dmax_prev) < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-col l6 m6 s6">
          <p>Compared commissioning Dose<sub>dmax</sub>:</p>
        </div>
        <div class="w3-col l6 m6 s6">
          <div class="w3-row">
            <div class="w3-col l6 m6 s6">
              <p>
                {{round(float(each.dmax_curr) - float(each.dmax_comm),2)}} mm
                Diff
              </p>
            </div>
            <div class="w3-col l6 m6 s6">
              {% if (each.dmax_curr - each.dmax_comm) < 2 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <hr id="bottomline" />
      <br /><br />
      {% endfor %}
    </div>
    <div class="w3-col l6 m6 w3-hide-small">
      <p></p>
    </div>
  </div>
  {%endif%}

  <h4>PDD Analysis Results (Electrons)</h4>
  {% if electron_data == True %}
  <div class="w3-row">
    <div class="w3-col l6 m6">
      {% for each_e_beam in results_e%}
      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>Machine name:</p>
        </div>
        <div class="w3-col m6 l6">
          <p>{{each_e_beam.machine}}</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>Beam:</p>
        </div>
        <div class="w3-col m6 l6">
          <p>{{each_e_beam.beam}}</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>R<sub>50</sub>:</p>
        </div>
        <div class="w3-col m6 l6">
          <p>{{each_e_beam.R50_curr}} mm</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>Compared to previous R<sub>50</sub>:</p>
        </div>
        <div class="w3-col m6 l6">
          <div class="w3-row">
            <div class="w3-col m6 l6">
              <p>
                {{round(float(each_e_beam.R50_curr) -
                float(each_e_beam.R50_prev)),2}} mm Diff
              </p>
            </div>
            <div class="w3-col m6 l6">
              {% if abs(float(each_e_beam.R50_curr) -
              float(each_e_beam.R50_prev)) < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>Compared to Commissioning R<sub>50</sub>:</p>
        </div>
        <div class="w3-col m6 l6">
          <div class="w3-row">
            <div class="w3-col m6 l6">
              <p>
                {{round(float(each_e_beam.R50_curr) -
                float(each_e_beam.R50_comm)),2}} mm Diff
              </p>
            </div>
            <div class="w3-col m6 l6">
              {% if abs(float(each_e_beam.R50_curr) -
              float(each_e_beam.R50_comm)) < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>R<sub>p</sub>:</p>
        </div>
        <div class="w3-col m6 l6">
          <p>{{each_e_beam.Rp_curr}} mm</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>Compared to previous R<sub>p</sub>:</p>
        </div>
        <div class="w3-col m6 l6">
          <div class="w3-row">
            <div class="w3-col m6 l6">
              <p>
                {{round(each_e_beam.Rp_curr - each_e_beam.Rp_prev),2}} mm Diff
              </p>
            </div>
            <div class="w3-col m6 l6">
              {% if abs(float(each_e_beam.Rp_curr) - float(each_e_beam.Rp_prev))
              < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>Compared to Commissioning R<sub>p</sub>:</p>
        </div>
        <div class="w3-col m6 l6">
          <div class="w3-row">
            <div class="w3-col m6 l6">
              <p>
                {{round(each_e_beam.Rp_curr - each_e_beam.Rp_comm),2}} mm Diff
              </p>
            </div>
            <div class="w3-col m6 l6">
              {% if abs(float(each_e_beam.Rp_curr) - float(each_e_beam.Rp_comm))
              < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <br /><br />

      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>E<sub>0</sub> (mean Energy):</p>
        </div>
        <div class="w3-col m6 l6">
          <p>{{each_e_beam.mean_e_curr}} MeV</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>Compared to previous E<sub>0</sub>:</p>
        </div>
        <div class="w3-col m6 l6">
          <div class="w3-row">
            <div class="w3-col m6 l6">
              <p>
                {{round(100 * (float(each_e_beam.mean_e_curr) -
                float(each_e_beam.mean_e_prev))/float(each_e_beam.mean_e_curr)),2}}
                % Diff
              </p>
            </div>
            <div class="w3-col m6 l6">
              {% if abs(100* (float(each_e_beam.mean_e_curr) -
              float(each_e_beam.mean_e_prev))/float(each_e_beam.mean_e_curr)) <
              3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {%endif%}
            </div>
          </div>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-col m6 l6">
          <p>Compared to commissioning E<sub>0</sub>:</p>
        </div>
        <div class="w3-col m6 l6">
          <div class="w3-row">
            <div class="w3-col m6 l6">
              <p>
                {{round(100* (float(each_e_beam.mean_e_curr) -
                each_e_beam.mean_e_comm)/float(each_e_beam.mean_e_curr)),2}} %
                Diff
              </p>
            </div>
            <div class="w3-col m6 l6">
              {% if abs(100* (float(each_e_beam.mean_e_curr) -
              each_e_beam.mean_e_comm)/float(each_e_beam.mean_e_curr)) < 3 %}
              <p class="Pass">Pass</p>
              {% else %}
              <p class="Fail">Fail</p>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      <hr id="bottomline" />
      <br /><br />
      {% endfor %}
    </div>
    <div class="w3-col l6 m6 w3-hide-small"><p></p></div>
  </div>
  {%endif%}
</div>
{% endblock content %}
