<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
        <link rel= "stylesheet" type="text/css" href="{{url_for('static', filename = 'w3.css')}}"
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
            
        <!-- Navbar -->
        <div class="w3-top ">
            <div class="w3-bar w3-left-align w3-theme-d2 " style="color: #fff;background-color:#2c3531 ;">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-padding-small" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></a>
            <a href="{{url_for('home')}}" class="w3-bar-item w3-button w3-hover-white w3-round w3-padding-small "><i class="fa fa-home w3-margin-right"></i>Home</a>
            </div>
        </div>


            <style>
                body{
                    background-image: url("{{url_for('static', filename = 'images/error.jpg')}}");
                    background-repeat: no-repeat;
                    background-size:cover;
                }
            </style>


        
        {% block content%}

        {% endblock %}

        <script>
            // Sript for side navigator
            
            // Used to toggle the menu on smaller screens when clicking on the menu button
            function myFunction() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                } else { 
                x.className = x.className.replace(" w3-show", "");
                }
            }
        </script>
            

    </body>
</html>