hr {
  border-top: 1px solid #ccc;
  border-radius: 2px;
}
.heading {
  border-bottom: 1px solid #ccc;
  padding-left: 24px;
  padding-top: 15px;
  background-color: aliceblue;
}

.heading2 {
  border-bottom: 1px solid #ccc;
}

.Pass {
  color: white;
  background-color: green;
  width: 50px;
  padding-right: 5px;
  padding-left: 5px;
}

.Fail {
  color: white;
  background-color: red;
  width: 50px;
  padding-right: 5px;
  padding-left: 5px;
}

#bottomline {
  border-top: 1px solid #111;
  border-radius: 2px;
}
