<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel= "stylesheet" type="text/css" href="{{url_for('static', filename = 'w3.css')}}"
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
   <!-- Navbar -->
<div class="w3-top ">
    <div class="w3-bar w3-left-align w3-theme-d2 " style="color: #fff;background-color:#2c3531 ;">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-padding-small" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></a>
     <a href="{{url_for('home')}}" class="w3-bar-item w3-button w3-hover-white w3-round w3-padding-small "><i class="fa fa-home w3-margin-right"></i>Home</a>
     <a href="#" class="w3-bar-item w3-button w3-round w3-hide-small w3-padding-small w3-hover-white" title="Messages"><i class="fa fa-file w3-margin-right"></i>SOPs</a>
     <div class="w3-dropdown-hover w3-hide-small">
       <button class="w3-btn w3-round w3-hover-white w3-padding-small" style="color: #fff;background-color:#2c3531 ;"><i class="fa fa-folder w3-margin-right"></i> Softwares</button>     
       <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
         <a href="#" class="w3-bar-item w3-button" style="font-size: small;"> MU Calculator</a>
         <a href="#" class="w3-bar-item w3-button" style="font-size: small;"> QC checks </a>
         <a href="#" class="w3-bar-item w3-button" style="font-size: small;">Brachytherapy Calculators </a>
         <a href="#" class="w3-bar-item w3-button" style="font-size: small;"> Machines</a>
        </div>
      </div>

      <div class="w3-dropdown-hover w3-hide-small w3-right w3-small" style="font-size: medium;">
        <button class="w3-btn w3-round w3-hover-white" style="color: #fff;background-color:#2c3531 ;" ><i class="fa fa-user-circle-o w3-margin-right" style="width: 8mm;"></i>{{current_user.username}}</button>     
        <div class="w3-dropdown-content w3-card-5 w3-bar-block" style="width:200px;color: #fff;background-color:#2c2c2e;">
          <a href="{{url_for('logout.logout')}}" class="w3-bar-item w3-button w3-round ">Sign Out</a>
          <a href="{{url_for('register.register')}}" class="w3-bar-item w3-button w3-round ">Register User</a>
         </div>
       </div>

    </div>
  </div>
   
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-padding-top-24 w3-hide w3-hide-large w3-hide-medium" style=" color: #fff;background-color:#2c3531 ;">
    <a href="#" class="w3-bar-item w3-button w3-padding-small">QC checks</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-small">Brachytherapy Calculators</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-small">MU Calculator</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-small">New Projects</a>
  </div>
  
  {% block content%}

  {% endblock %}

   <script>
    // Sript for side navigator
       
       // Used to toggle the menu on smaller screens when clicking on the menu button
       function myFunction() {
         var x = document.getElementById("navDemo");
         if (x.className.indexOf("w3-show") == -1) {
           x.className += " w3-show";
         } else { 
           x.className = x.className.replace(" w3-show", "");
         }
       }
       </script>
    

</body>
</html>