{% extends 'base.html' %}

{% block title %} Brachytherapy QA {% endblock %}

{% block content%}
<div class= "w3-container" style="margin-top: 15mm;">

  <h3>Brachy</h3>
  <h4> QUARTERLY QA </h4>
  <p> Brachy: 
    <select name="Brachys" id="brachy_Selection">
      <option value="Unit1">Unit1</option>
      <option value="Unit2">Unit2</option>
      <option value="Unit3">Unit3</option>
    </select>
  </p>
  <div class="w3-row">

    <div class="w3-col m4 l4 s4"></div>
    <div class="w3-col m4 l4 s4">

      <table class = "w3-striped w3-center">
        <tr>
          <th>Test</th>
          <th>Complete</th>
          <th>Not complete</th>
          <th>Date of Completion</th>
          <th>Days left until next repeat</th>
          <th>Task status</th>
          <th>Done by</th>
        </tr>
        <tr>
          <td><a href = "" target="_blank">Mechanicals</a> &nbsp;<a href = "" target="_blank"><i class="fa fa-bar-chart"></i></a></td>
          <td><input type="radio" name="rdb_brachy_mechanicals" id="c_brachy_mechanicals"></td>
          <td><input type="radio" name="rdb_brachy_mechanicals" id="notc_brachy_mechanicals"></td>
          <td><input type="date" name="date_update_brachy_mechanicals" id="date_update_brachy_mechanicals"></td>
          <td><input type="number" name="days_to_repeat_brachy_mechanicals" id="days_to_repeat_brachy_mechanicals" disabled></td>
          <td><input type="text" name="uptodate_brachy_mechanicals" id="uptodate_brachy_mechanicals" disabled></td>
          <td><input type="text" name="doneBy_brachy_mechanicals" id="doneBy_brachy_mechanicals"></td>
        </tr>
        <tr>
          <td><a href="" target="_blank">Source/dummy interlocks</a> &nbsp;<a href = "" target="_blank"><i class="fa fa-bar-chart"></a></td>
          <td><input type="radio" name="rdb_brachy_interlocks" id="c_brachy_interlocks"></td>
          <td><input type="radio" name="rdb_brachy_interlocks" id="notc_brachy_interlocks"></td>
          <td><input type="date" name="date_update_brachy_interlocks" id="date_update_brachy_interlocks"></td>
          <td><input type="number" name="days_to_repeat_brachy_interlocks" id="days_to_repeat_brachy_interlocks" disabled></td>
          <td><input type="text" name="uptodate_brachy_interlocks" id="uptodate_brachy_interlocks" disabled></td>
          <td><input type="text" name="doneBy_brachy_interlocks" id="doneBy_brachy_interlocks"></td>
        </tr>
        <tr>
          <td><a href="" target="_blank">Source position</a> &nbsp;<a href = "" target="_blank"><i class="fa fa-bar-chart"></a></td>
          <td><input type="radio" name="rdb_brachy_position" id="c_brachy_position"></td>
          <td><input type="radio" name="rdb_brachy_position" id="notc_brachy_position"></td>
          <td><input type="date" name="date_update_brachy_position" id="date_update_brachy_position"></td>
          <td><input type="number" name="days_to_repeat_brachy_position" id="days_to_repeat_brachy_position" disabled></td>
          <td><input type="text" name="uptodate_brachy_position" id="uptodate_brachy_position" disabled></td>
          <td><input type="text" name="doneBy_brachy_position" id="doneBy_brachy_position"></td>
        </tr>
        <tr>
          <td><a href="" target="_blank">Source strength</a> &nbsp;<a href = "" target="_blank"><i class="fa fa-bar-chart"></a></td>
          <td><input type="radio" name="rdb_brachy_strength" id="c_brachy_strength"></td>
          <td><input type="radio" name="rdb_brachy_strength" id="notc_brachy_strength"></td>
          <td><input type="date" name="date_update_strength" id="date_update_strength"></td>
          <td><input type="number" name="days_to_repeat_brachy_strength" id="days_to_repeat_brachy_strength" disabled></td>
          <td><input type="text" name="uptodate_brachy_strength" id="uptodate_brachy_strength" disabled></td>
          <td><input type="text" name="doneBy_brachy_strength" id="doneBy_brachy_strength"></td>
        </tr>
        <tr>
      </table>
    </div>
  </div>
  <p><input type="button" value="Submit"></p>
</div>
  

{% endblock %}