{% extends "base.html" %}

{% block head %}
<script src="{{url_for('static', filename='scripts/chambers.js')}}"> </script>
{% endblock %}

{% block title %} Ionization Chambers {%endblock%}

{% block content%}



<div style="background-color: #FFECEC;">

    <header style="background-color: #FE8787;  height:20mm;">
        <div style=" margin-top: -5mm;"> <h1 style="margin-top: 14mm; margin-left: 8mm;"> Ionization Chambers mantainance System </h1>  </div> 
    </header>

    


    <div class="w3-container w3-padding-large">
        <div class=" w3-container w3-magine-left">
            <h4 style="color: tomato;">
                {% with messages = get_flashed_messages() %}
        
                {% if messages %}
                    {% for message in messages %}
                        {{message}}
                    {%endfor%}
                {%endif%}
            {%endwith%}
            </h4>
        </div>
             

    <div class="w3-row">
        <div class = "w3-col m6 l6 ">
            <div class="w3-responsive">
            <table id = "chambst"class ="w3-table-all w3-small">

                <tr>
                    <th>Date Added</th>
                    <th>Chamber Make</th>
                    <th>Chamber S/N </th>
                    <th> Used As </th>
                    <th></th>
                </tr>
                {%for item in chambers %}
                <tr>
                    <td>{{datetime.strftime(item.date_add, "%d %b %Y")}}</td>
                    <td> {{item.make}} </td>
                    <td id="serial"> {{item.sn}} </td>
                    <td>{{item.chamber_type}}</td>
                    <td> <button type="button" id="{{item.sn}}" class="w3-button w3-blue w3-round-large">View</button></td>
                </tr>
                {%endfor%}
            </table>
            </div>
            <p> <i><b>Table 1.</b> List of Ionization chambers used for reference dosimetry (TRS-398) and mantained using Strontium-90 check source. 

        </div>
        <div id = "mydiv1" class="w3-col m6 l6"> 
            <div class="w3-container w3-padding-64">
                    <div class="w3-row">
                        <div id="refmeas_b" class="w3-col l8 m8">  
                        </div>
                    </div>

 
            </div>
            
        
        
        
        
        </div>

    </div>
    <div class="w3-row">
        <div class="w3-col l6 ">
            <h2>Navigator</h2>
            <p><button type="button" onclick="location.href='{{url_for('reg_chamber.reg_chamber')}}'" class="w3-button w3-blue w3-round-large w3-small"> Add a New Chamber to the Chamber Library </button></p>
            <p><button type="button" onclick="location.href='{{url_for('ion_chamber.select_measurements_method')}}'" class="w3-button w3-blue w3-round-large"> Perform Ionization Chamber Stability checks using Sr-90 check Source. </button>  <a href="">  </a></p>
            <p><button type="button" onclick="location.href='{{url_for('ion_chamber.Cal_certs')}}'" class="w3-button w3-blue w3-round-large"> Add a New Calibration Certificate to the Database </button></p>
            <br>
        </div>

        <div class="w3-col l6">
            <div id = "chambhist" >
    
    
            </div>
            <div id ="chambCal" class="w3-container">

            </div>
            
        </div>


    </div>
    
   
    


    </div>
  

</div>

{%endblock%}


