{% extends 'base.html' %}

{% block title %} Kilovoltage QA {% endblock %}

{% block content%}
<div class= "w3-container" style="margin-top: 15mm;">

  <h3>Kilovoltage</h3>
  <h4> Monthly QA </h4>
  <p> kilovoltage: 
    <select name="KVs" id="KV_Selection">
      <option value="KV1">KV1</option>
      <option value="KV2">KV2</option>
      <option value="KV3">KV3</option>
    </select>
  </p>
  <div class="w3-row">

    <div class="w3-col m4 l4 s4"></div>
    <div class="w3-col m4 l4 s4">

      <table class = "w3-striped w3-center">
        <tr>
          <th>Test</th>
          <th>Complete</th>
          <th>Not complete</th>
          <th>Date of Completion</th>
          <th>Days left until next repeat</th>
          <th>Task status</th>
          <th>Done by</th>
        </tr>
        <tr>
          <td><a href = "" target="_blank"></a>Mechanicals &nbsp <a href="" target="_blank"><i class="fa fa-bar-chart"></i></a></td>
          <td><input type="radio" name="rdb_kilovoltage_mechanicals" id="c_kilovoltage_M"></td>
          <td><input type="radio" name="rdb_kilovoltage_mechanicals" id="notc_kilovoltage_M"></td>
          <td><input type="date" name="date_update_kilovoltage_mechanicals" id="date_update_kilovoltage_mechanicals"></td>
          <td><input type="number" name="days_to_repeat_kilovoltage_mechanicals" id="days_to_repeat_kilovoltage_mechanicals" disabled></td>
          <td><input type="text" name="uptodate_kilovoltage_mechanicals" id="uptodate_kilovoltage_mechanicals" disabled></td>
          <td><input type="text" name="doneBy_kilovoltage_mechanicals" id="doneBy_kilovoltage_mechanicals"></td>
        </tr>
        <tr>
          <td><a href = "" target="_blank">Output verification</a> &nbsp <a href="" target="_blank"><i class="fa fa-bar-chart"></i></a></td>
          <td><input type="radio" name="rdb_kilovoltage_output" id="c_kilovoltage_output"></td>
          <td><input type="radio" name="rdb_kilovoltage_output" id="notc_kilovoltage_output"></td>
          <td><input type="date" name="date_update_kilovoltage_output" id="date_update_kilovoltage_output"></td>
          <td><input type="number" name="days_to_repeat_kilovoltage_output" id="days_to_repeat_kilovoltage_output" disabled></td>
          <td><input type="text" name="uptodate_kilovoltage_output" id="uptodate_kilovoltage_output" disabled></td>
          <td><input type="text" name="doneBy_kilovoltage_output" id="doneBy_kilovoltage_output"></td>
        </tr>
        <tr>
          <td><a href = "" target="_blank">Timer accuracy</a> &nbsp <a href="" target="_blank"><i class="fa fa-bar-chart"></i></a></td>
          <td><input type="radio" name="rdb_kilovoltage_timer" id="c_kilovoltage_timer"></td>
          <td><input type="radio" name="rdb_kilovoltage_timer" id="notc_kilovoltage_timer"></td>
          <td><input type="date" name="date_update_kilovoltage_timer" id="date_update_kilovoltage_timer"></td>
          <td><input type="number" name="days_to_repeat_kilovoltage_timer" id="days_to_repeat_kilovoltage_timer" disabled></td>
          <td><input type="text" name="uptodate_kilovoltage_timer" id="uptodate_kilovoltage_timer" disabled></td>
          <td><input type="text" name="doneBy_kilovoltage_timer" id="doneBy_kilovoltage_timer"></td>
        </tr>
        <tr>
          <td><a href = "" target="_blank">Dose rate output constancy</a> &nbsp <a href="" target="_blank"><i class="fa fa-bar-chart"></i></a></td>
          <td><input type="radio" name="rdb_kilovoltage_constancy" id="c_kilovoltage_constancy"></td>
          <td><input type="radio" name="rdb_kilovoltage_constancy" id="notc_kilovoltage_constancy"></td>
          <td><input type="date" name="date_update_kilovoltage_constancy" id="date_update_kilovoltage_constancy"></td>
          <td><input type="number" name="days_to_repeat_kilovoltage_constancy" id="days_to_repeat_kilovoltage_constancy" disabled></td>
          <td><input type="text" name="uptodate_kilovoltage_constancy" id="uptodate_kilovoltage_constancy" disabled></td>
          <td><input type="text" name="doneBy_kilovoltage_constancy" id="doneBy_kilovoltage_constancy"></td>
        </tr>
        
      </table>
    </div>
  </div>
  <p><input type="button" value="Submit"></p>
</div>
  

{% endblock %}