{% extends 'base.html' %} {% block head %}
<script src="{{url_for('static', filename='scripts/linacs.js')}}"></script>
{% endblock %} {% block title %} Linear Accelerators {% endblock %} {% block
content %}

<div class="w3-display-container w3-row w3-nkosie">
  <img
    src="{{url_for('static', filename='images/versa_m.jpg')}}"
    class="w3-right w3-hide-small"
    width="500"
    height="auto"
  />

  <h1
    class="w3-left"
    style="margin-top: 48mm; margin-left: 10mm; display: flex"
  >
    Linacs
  </h1>
</div>

<div class="">
  <div class="w3-row">
    <div class="w3-col l9 m10">
      <div id="linacs" class="w3-bar w3-blackies">
        {% for item in linacs %}
        <button
          id="{{item.n_name}}"
          class="w3-bar-item w3-button w3-large w3-border-left w3-border-top w3-nkosie w3-enabled tablink"
        >
          Linac {{item.n_name[1]}}
        </button>
        {% endfor %}
      </div>
      <div
        id="bodyup"
        class="w3-border-left w3-border-right w3-border-bottom"
        style="display: none"
      >
        <div class="w3-responsive">
          <div id="qabuttons" class="w3-bar w3-light-grey">
            <button
              id="trs398"
              class="w3-bar-item w3-button tablinkr w3-grey"
              style="width: 55mm; text-align: left"
            >
              TRS-398
            </button>
            <button
              id="energy_chk"
              class="w3-bar-item w3-button tablinkr w3-grey"
              style="width: 55mm; text-align: left"
            >
              Energy Checks
            </button>
            <button
              id="flat_sym"
              class="w3-bar-item w3-button tablinkr w3-grey"
              style="text-align: left"
            >
              Flatness and Symmetry
            </button>
            <button
              id="machan"
              class="w3-bar-item w3-button tablinkr w3-grey"
              style="width: 55mm; text-align: left"
            >
              Machanical Checks
            </button>
          </div>
        </div>
        <div id="trs_398e" class="w3-row" style="display: none">
          <div class="w3-col l9 m10">
            <button id="trs_398ph" class="w3-button w3-round w3-blue">
              Cal: Photons
            </button>
            <button id="trs_398el" class="w3-button w3-round w3-blue">
              Cal: Electrons
            </button>
          </div>
        </div>
        <div class="w3-row w3-padding" style="display: none">
          <div id="qcCheks" class="w3-container w3-responsive">
            <table id="data_table" class="w3-table-all">
              <tr>
                <td>Date</td>
                <td>Temperature</td>
                <td>Pressure</td>
                <td>Ionization Chamber</td>
                <td>Bias Voltage</td>
                <td>Dose <sub>Z_max</sub></td>
                <td>Percent diff</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!---
    <button id = ${} class="w3-button w3-blue w3-round w3-border">View</button>
      <div id="L1" class="w3-border-left w3-border-right w3-border-bottom machine">
        <div class="w3-responsive">
          <div class="w3-bar w3-light-grey">
            <button id = "trs398"class="w3-bar-item w3-button tablinkr w3-grey" style="width: 55mm; text-align:left">TRS-398</button>
            <button id = "energy_chk" class="w3-bar-item w3-button tablinkr w3-grey" style="width: 55mm; text-align:left">Energy Checks</button>
            <button id = "flat_sym" class="w3-bar-item w3-button tablinkr w3-grey" style="text-align:left">Flatness and Symmetry</button>
            <button id = "machan" class="w3-bar-item w3-button tablinkr w3-grey" style="width: 55mm; text-align:left">Machanical Checks</button>
          </div>
  
          <div style="margin-left:0px">
            <div class="w3-padding">Vertical Tab Example (sidebar)</div>
          
            <div id="trs-398" class="w3-container qacheck" style="display:block">
              <h2>London</h2>
              <p>London is the capital qacheck of England.</p>
              <p>It is the most populous qacheck in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
            </div>
          
            <div id="energy_checks" class="w3-container qacheck" style="display:none">
              <h2>Paris</h2>
              <p>Paris is the capital of France.</p> 
              <p>The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.</p>
            </div>
          
            <div id="flatness_symmetry" class="w3-container qacheck" style="display:none">
              <h2>Tokyo</h2>
              <p>Tokyo is the capital of Japan.</p>
              <p>It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.</p>
            </div>
  
            <div id="machanical" class="w3-container qacheck" style="display:none">
              <h2>Machanicals</h2>
              <p>machanical checks to be done by me.</p>
              <p>It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.</p>
            </div>
          
          </div>
        </div>
      </div>

    
      <div id="L2" class="w3-container w3-border-left w3-border-right w3-border-bottom  machine" style="display:none">
        <h2>Paris</h2>
        <p>Paris is the capital of France.</p> 
      </div>
    
      <div id="L3" class="w3-container w3-border-left w3-border-right w3-border-bottom machine" style="display:none">
        <h2>Tokyo</h2>
        <p>Tokyo is the capital of Japan.</p>
      </div>

    -->

      <!--
        <div class="w3-responsive">
          <table id="linacst" class="w3-table-all" style="max-width: 150mm;">
            {% for item in linacs%}
              <tr>
                <td>{{item.make}} ({{item.n_name}})</td>
                <td class="w3-right"> <button class="w3-button w3-blue-large" type="button" id="{{item.id}}"> Load Data</button></td>
              </tr>
            {%endfor%}  
          </table>
        </div> 

          <button class="w3-bar-item w3-button w3-large w3-border-top tablink w3-nkosie" onclick="selectMachine(event,'L2')">Linac 2</button>
        <button class="w3-bar-item w3-button w3-large w3-border-top tablink w3-nkosie" onclick="selectMachine(event,'L3')">Linac 3</button>

        style="background-color: #003d4f; color: whitesmoke"

      -->
    </div>

    <div class="w3-col l3 m2">
      <div class="w3-container">
        <div class="w3-responsive">
          <h4>Linac QA Monthly status</h4>
          <p style="color: red">
            I have decided to put this part on ICE, I will come back to it at
            the end when all thother functions are done.
          </p>
          <table id="machine_stats" class="w3-table-all w3-border">
            <tr>
              <td>Linacs</td>
              <td>Progress</td>
            </tr>
            <tr id="l1_data">
              <td>
                <a href="#"><b id="l1_prog">L1</b></a>
              </td>
              <td>
                <div class="w3-progress-container">
                  <div
                    id="l1_status"
                    class="w3-progressbar w3-green w3-round-large w3-border"
                    style="width: 10%"
                  >
                    <div class="w3-center w3-text-black">10%</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr id="l2_data">
              <td>
                <a href="#"><b id="l2_prog">L2</b></a>
              </td>
              <td>
                <div class="w3-progress-container">
                  <div
                    id="l2_status"
                    class="w3-progressbar w3-green w3-round-large w3-border"
                    style="width: 10%"
                  >
                    <div class="w3-center w3-text-black">10%</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr id="l3_data">
              <td>
                <a href="#"><b id="l3_prog">L3</b></a>
              </td>
              <td>
                <div class="w3-progress-container">
                  <div
                    id="l3_status"
                    class="w3-progressbar w3-green w3-round-large w3-border"
                    style="width: 10%"
                  >
                    <div class="w3-center w3-text-black">10%</div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div></div>
</div>

<!--
<script>
  function selectMachine(evt, machineName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("machine");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-disabled", "");
    }
    document.getElementById(machineName).style.display = "block";
    evt.currentTarget.className += " w3-disabled";
  }

  function selectQa(evt, qaName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("qacheck");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinkr");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-disabled", "");
    }
    document.getElementById(qaName).style.display = "block";
    evt.currentTarget.className += " w3-disabled";
  }
</script>
-->
{% endblock %}
