{% extends 'base.html' %}
{% block title %}
Linear Accelerators
{% endblock %}

{% block content %}

<div class="w3-display-container w3-row w3-nkosie">
    <img
    src="{{url_for('static', filename='images/versa_m.jpg')}}"
    class="w3-right w3-hide-small"
    width="500"
    height="auto"
  />

  <h1 class="w3-left" style="margin-top: 48mm; margin-left: 10mm;">Linacs</h1>
</div>

<div class="w3-container w3-padding">
  <div class="w3-responsive">
    <table id="linacst" class="w3-table-all">
      {% for item in linacs%}
      <tr>
        <td>{{item.make}}</td>
        <td>{{item.n_name}}</td>
        <td> <button type="button" id="{{item.id}}"> Load Data</button></td>
      </tr>
      {%endfor%}  
    </table>
  </div>

  <div>

  </div>
  


</div>
{% endblock %} 