{% extends "base.html" %}

{%block title%}Chamber mantainance form{%endblock%}

{%block content%}

<div class="w3-cntainer" style="margin-top:10mm;">
    <h1>Check source measurements with a Sr-90 source</h1>
    <div style="margin-left: 20mm;">

        <form class="w3-form" action="" method="POST" novalidate>
            {{form.hidden_tag()}}
            <p>
                {{form.date.label}}
                {{form.date}} <br>
                {% for error in form.date.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p>
            
            <p>
                {{form.chamber.label}}
                {{form.chamber}} <br>
                {% for error in form.chamber.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p>
            <p>
                {{form.source.label}}
                {{form.source}} <br>
                {% for error in form.source.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p>
            
            <p>
                {{form.electrometer.label}} 
                {{form.electrometer(size=20)}} <br>
                {% for error in form.electrometer.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p> 
    
            <p>
                {{form.elect_voltage.label}} 
                {{form.elect_voltage(size=20)}} <br>
                {% for error in form.elect_voltage.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p>
            <p>
                {{form.temp_reading.label}} 
                {{form.temp_reading}} <br>
                {% for error in form.temp_reading.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p>
            <p>
                {{form.press_reading.label}} 
                {{form.press_reading}} <br>
                {% for error in form.press_reading.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p>
            <p>
                {{form.reading1.label}} 
                {{form.reading1}} <br>
                {% for error in form.reading1.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p>
            <p>
                {{form.reading2.label}} 
                {{form.reading2}} <br>
                {% for error in form.reading2.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p>
            <p>
                {{form.reading3.label}} 
                {{form.reading3}} <br>
                {% for error in form.reading3.errors %}
                    <span style="color: red;">{{error}}</span>
                {%endfor%}
            </p>
    
            <p>{{form.submit()}}</p>
        </form>


    </div>

</div>

{%endblock%}