{% extends 'base.html' %} {% block head %}
<script src="{{url_for('static', filename = '/scripts/trs398.js')}}"></script>
<link
  rel="stylesheet"
  href="{{url_for('static', filename = '/css/trs_398.css')}}"
/>
{% endblock %} {% block tittle %} TRS398 reference dose calibration for
{{linac_obj.n_name}} {% endblock %} {% block content %}
<div class="trs-container w3-container-fluid">
  <div class="w3-container-fluid">
    <div class="parent w3-row">
      <!--
        This is the left column that just act as a margine. Might have to delete it later. We will see how it turn out.
      -->
      <div class="w3-col m3 l3 w3-hide-small">
        <div class="left_col">

          <b>Setup Instruction</b>
        <div class="w3-row">
          <p> Field size: 10 cm x 10 cm </p>
        </div>
        <div class="w3-row">
          <p>SSD: 100 cm</p>
        </div>
        <div class="w3-row">
          <p>Depth: 10 cm</p>
        </div>
        <div class="w3-row">
          <p>Phantom: liquid water</p>
        </div>

        <div class="w3-row">
          <b>Beam Data </b>
          <br>
          <table class="w3-table-all" id="beam_data_table">
        
          </table>

          <p>
            <button class="w3-button w3-round w3-blue" id="beam_data"> Update </button>
          </p> 
        </div>
        <br>
        <div class="w3-row">
          <b>Chamber Data</b>
          <br>
          <table id="chamber_data_table" class="w3-table-all">

          </table>
        </div>

        </div>
        
      </div>
      <!--
        This is the center column, where the magic happens, ok I am only joking, this is the main form.
      -->
      <div class="center_row w3-col m7 l7 s7">
        
        <h2>Reference calibration: {{linac_obj.n_name}}</h2>
        <p id="machine_tag" hidden>{{linac_obj.n_name}}</p>

        <h3><i>IAEA TRS-398 of 2006</i></h3>
        <form action="" method="POST" novalidate>
          {{form.hidden_tag()}}
          <div class="w3-row">
            <div class="w3-col m6 l6">{{form.bias_voltage1.label}}</div>
            <div class="w3-col m6 l6">{{form.bias_voltage1}}</div>
          </div>
          <div class="w3-row">
            {% for error in form.bias_voltage1.errors %}
            <span style="color: red">{{error}}</span>
            {%endfor%}
          </div>

          <div class="w3-row">
            <div class="w3-col m6 l6">{{form.m11_reading.label}}</div>
            <div class="w3-col m6 l6">{{form.m11_reading(size=24)}}</div>
          </div>
          <div class="w3-row">
            {% for error in form.m11_reading.errors %}
            <span style="color: red">{{error}}</span>
            {%endfor%}
          </div>

          <div class="w3-row">
            <div class="w3-col m6 l6">{{form.m12_reading.label}}</div>
            <div class="w3-col m6 l6">{{form.m12_reading(size=24)}}</div>
          </div>
          <div class="w3-row">
            {% for error in form.m12_reading.errors %}
            <span style="color: red">{{error}}</span>
            {%endfor%}
          </div>

          <div class="w3-row">
            <div class="w3-col m6 l6">{{form.m13_reading.label}}</div>
            <div class="w3-col m6 l6">{{form.m13_reading(size=24)}}</div>
          </div>
          <div class="w3-row">
            {% for error in form.m13_reading.errors %}
            <span style="color: red">{{error}}</span>
            {%endfor%}
          </div>
          <div class="w3-row">
            <p>
              Determination of K<sub>s</sub>. <br />
              <i>Use reduced bias voltage as defined in TRS-398</i>
            </p>
          </div>
          <div class="w3-row">
            <div class="w3-col m6 l6">{{form.bias_voltage2.label}}</div>
            <div class="w3-col m6 l6">{{form.bias_voltage2}}</div>
          </div>
          
          <div class="w3-row">
            {% for error in form.bias_voltage2.errors %}
            <span style="color: red">{{error}}</span>
            {%endfor%}
          </div>

          <div class="w3-row">
            <div class="w3-col m6 l6">{{form.m21_reading.label}}</div>
            <div class="w3-col m6 l6">{{form.m21_reading(size=24)}}</div>
          </div>
          <div class="w3-row">
            {% for error in form.m21_reading.errors %}
            <span style="color: red">{{error}}</span>
            {%endfor%}
          </div>

          <div class="w3-row">
            <div class="w3-col m6 l6">{{form.m22_reading.label}}</div>
            <div class="w3-col m6 l6">{{form.m22_reading(size=24)}}</div>
          </div>
          <div class="w3-row">
            {% for error in form.m22_reading.errors %}
            <span style="color: red">{{error}}</span>
            {%endfor%}
          </div>
        </form>
         
      </div>

      <!--
        This is the far right column where we update the environmentals. 
        So I have taken the approche to use environmentals of the day and one will have the options to update the environmentals
      -->
      <div class="far_right w3-col m2 l2 s5">
        <div class="w3-container w3-padding">
          <div class="w3-row">
            <p><b>Machine:</b> {{linac_obj.n_name}}</p>
          </div>
          <div class="w3-row">
            <p><b>{{form.date.label}}</b></p>
            <p>
              {{form.date(size=24)}} 
            </p>
            <p>
              <b>Photon Beam:</b></p><p>
              <select name="beams" id="sele_beam">
                {% for each in beams %}
                <option value="{{each.energy}}">{{each.energy}}</option>
                {% endfor%}
              </select>
            </p>

            <p>
              <b>{{form.chamber.label}}</b>
            </p>
            <p id="sele_chamber">
              {{form.chamber}}
            </p>
            <p>
              <b>{{form.electrometer.label}}</b></p><p></p>
              {{form.electrometer}}
            </p>
          </div>
          <div class="w3-row">
            <div class="w3-responsive">
              <table class="tp_table w3-table">
                <tr>
                  <td id="temp_d" >Temp:</td>
                  <td>{{environ.temp}} <sup>0</sup>C</td> 
                </tr>
                <tr>
                  <td id="pres_d">Press:</td>
                  <td>{{round(environ.press * 1.33322, 2)}} hPa</td>
                </tr>
              </table>
              <button id="tem_pres_u" class="w3-button w3-blue w3-round">
                Update Log
              </button>
            </div>
          </div>
          <div class="update_env w3-row">
            <form action="" method="POST" class="w3-container">
              <p>
                <label for="temp"><b>Temp (<sup>0</sup>C):</b></label>
                <input
                  id="temp_u"
                  type="number"
                  class="w3-input w3-border w3-round"
                  name="temp"
                />
                
              </p>
              <p>
                <label for="press"><b>Press (hPa):</b></label>
                <input
                  id="press_u"
                  type="number"
                  class="w3-input w3-border w3-round"
                  name="press"
                />
                
              </p>
              <p><button id="update_tp" class="w3-button w3-blue w3-round">Update</button></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
