{% extends 'base.html' %} {% block head %}
<script src="{{url_for('static', filename = '/scripts/trs398.js')}}"></script>
{% endblock %} {% block tittle %} TRS398 reference dose calibration for {{linac_obj.n_name}} {% endblock
%} {% block content %}
<h1>Reference dose calibration of {{linac_obj.n_name}} following TRS-398 Code of Practice</h1>

<form action="" method="POST" novalidate>
  {{form.hidden_tag()}}
  <p>
    {{form.date.label}} {{form.date(size=24)}} <br />
    {% for error in form.date.errors %}
    <span style="color: red">{{error}}</span>
    {%endfor%}
  </p>

  <p>
    {{form.temp.label}} <br />
    {{form.temp(size=24)}} <br />
    {% for error in form.temp.errors %}
    <span style="color: red">{{error}}</span>
    {%endfor%}
  </p>

  <p>
    {{form.press.label}} <br />
    {{form.press(size=24)}} <br />
    {% for error in form.press.errors %}
    <span style="color: red">{{error}}</span>
    {%endfor%}
  </p>

  <p>
    {{form.machine.label}} {{form.machine}} <br />
    {% for error in form.machine.errors %}
    <span style="color: red">{{error}}</span>
    {%endfor%}
  </p>

  <p>
    {{form.beam.label}} {{form.beam}} <br />
    {% for error in form.beam.errors %}
    <span style="color: red">{{error}}</span>
    {%endfor%}
  </p>

  <p>
    {{form.energy_sel.label}} {{form.energy_sel}} <br />
    {% for error in form.energy_sel.errors %}
    <span style="color: red">{{error}}</span>
    {%endfor%}
  </p>
</form>
{% endblock %}
