{% extends "base.html" %}
{% block head %}{% block title %}TRS 398 Photon Results{% endblock title %}{% endblock head %}

{% block content %}
    <div class="w3-container w3-container-fluid">
        <div class="w3-row">
            <div class="w3-col m1 l2">
                <p></p>
            </div>
            <div class="w3-col m6 l6">
                <div class="w3-container">
                    <h4>Photons Results</h4>
                    <table class="w3-table-all">
                        <tr><td>Date</td><td>{{trs_data.date}}</td></tr>
                        <tr><td>Physicist</td><td>{{physicist.username}}</td></tr>
                        <tr><td>Temperature</td><td>{{trs_data.temp}} <sup>0</sup>C</td></tr>
                        <tr><td>Pressure</td><td>{{trs_data.press}} hPa</td></tr>
                        <tr><td>Ionization Chamber</td><td>{{chamber.make}}-{{chamber.sn}}</td></tr>
                        <tr><td>N<sub>D,W,Q<sub>0</sub></sub></td> <td>{{(chamber.chamber_cal.first()).ndw}} Gy/nC</td></tr>

                        <tr><td>Measurements</td> <td>{{round((trs_data.m_reading21 + trs_data.m_reading22 + trs_data.m_reading23)/3,2)}} nC</td></tr>
                        <tr><td>PDD <sub>10 cm</sub></td><td>{{round(trs_data.m_pdd10,1)}} %</td></tr>
                        <tr><td>K<sub>s</sub></td> <td>{{round(trs_data.m_ks, 3)}}</td></tr>
                        <tr><td>K<sub>Q,Q<sub>0</sub></sub></td> <td>{{trs_data.m_kqq}}</td></tr>
                        <tr><td>Dose<sub>(Z<sub>ref</sub>)</sub></td> <td>{{trs_data.m_dose_ref}}</td></tr>
                        <tr><td>Percent Difference</td> <td>{{round((1 - (trs_data.m_dose_ref/trs_data.m_pdd10))*100,2)}}</td></tr>

                    </table>
                </div>
            </div>
            <div class="w3-col m5 l4">
                <p></p>
            </div>
        </div>
    </div>
{% endblock content %}
    